<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.MyMapper">
    <select id="selectNextAvalilableLink" resultType="String">
        select link from LINK_TO_BE_PROCESSED limit 1
    </select>

    <delete id="deleteLink" parameterType="String">
        delete from LINK_TO_BE_PROCESSED where link = #{link}
    </delete>

    <insert id="insertNews" parameterType="com.github.hcsp.News">
        insert into NEWS (title, content, url, created_at, modified_at) values (#{title}, #{content}, #{url}, now(), now())
    </insert>

    <select id="selectCountLink" parameterType="String" resultType="int">
        select count(link) from LINK_ALREADY_PROCESSED where link = #{link}
    </select>

    <insert id="insertLink" parameterType="HashMap">
        insert into
        <choose>
            <when test="tableName == 'LINK_ALREADY_PROCESSED'">
                LINK_ALREADY_PROCESSED
            </when>
            <otherwise>
                LINK_TO_BE_PROCESSED
            </otherwise>
        </choose>
        (link) values (#{link})
    </insert>
</mapper>